[submodule "slides/pkgs/awesome-beamer"]
	path = slides/pkgs/awesome-beamer
	url = git@github.com:LukasPietzschmann/awesome-beamer.git
[submodule "slides/pkgs/smile"]
	path = slides/pkgs/smile
	url = git@github.com:LukasPietzschmann/smile.git
